#h2_1{
    font-weight: 700;
    color: white;
    text-align:left;
}
#h6_1{
    color:#fff;
    font-weight:600;
    text-align:left;
}
#div_1{
    background-color: #97b714;
    position:relative;
}
#div_2{
    position: absolute;
    bottom: 0;
    right: 80px;
}
button{
    padding:4px;
    background-color: #fff;
    border-radius:4px;
}
#div_3{
    position:absolute;
}
.footer{
    color:#fff;
    padding:50px;
    background-color: #97b714;
    // background-image: url('../../../assets/background.png');    
}
#footer{
    color:#fff;
    font-weight:700;
    text-align: left;
}
.boxed{
    // background-color: #97b714;
    padding:15px;
    opacity:07;
}
a{
    color:#fff;
}
a:hover{
    color:#333;
} 

