
<div id="div_1">
  <div class="container">
        <h2 id="h2_1">MediClinic</h2>
        <h6 id="h6_1">Expertise You Can Trust</h6>  
        <!-- <h3 id="time">{{e}}</h3> -->
        <div id="div_2">
          <button routerLink="/home">Add Details</button>
          <button routerLink="/resus_drug">Resus_Drug</button>
          <button routerLink="/intubation">Intibution</button>
          <button routerLink="/infusion">Infusion</button>
          <button routerLink="/fluid">Fluids</button>
          <button routerLink="/arrythmias">Arrythmias</button>
        </div>
  </div>
</div>
    
    
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Patient Details</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          Name: {{data.name}} <br><br> 
          weight: {{data.weight}}<br><br> 
          Hospital Number: {{data.HN}}<br><br> 
          OPIATES/ SEDATIVES:20kg
        </div>
        <div class="col-lg-4">
          DOB: {{data.DOB}} <br><br> Rounded weight: {{data.Rweight}} <br><br> Age: {{data.age}}
          <br><br>
        </div>
        <div class="col-lg-4">
          <table class="table table-borderd">
            <thead>
             <tr class="danger">
                <td>Drug</td>    
                <td>Dose</td>    
                <td>Dose to Given</td>    
             </tr> 
            </thead>  
            <tbody>
                <tr>
                    <td>Epinephrine 1:10,000</td>
                    <td>10mcg/kg (0.1ml/kg)</td>
                    <td>200 micrograms</td>
                </tr>
                <tr>
                    <td>Amiodarone</td>
                    <td>5mg/kg (max 300mg)</td>
                    <td>100</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div><br><br><br>
    </div>
    <br><br><br>



<div class="row">
  <div class="col-lg-1">  <div class="col-lg-1"></div></div>
    <div class="col-lg-10">
    <div class="col-lg-1"></div>
</div>
<button (click) = "back()">Previous</button>
 

<div class="container-fluid">
   <div class="row">
       
          <canvas id="imageView" width="1300px" height="1000" style="font-size:20px; letter-spacing:2px;"></canvas>
  </div>
</div>


<div class="container-fluid">
    <div class="col-lg-4">
<table class="table table-borderd">
        <thead>
            <tr class="active">
                <td colspan="2">Remember 4Hs and 4Ts in VF/Vtach</td>
            </tr>
        </thead>
        <tbody> 
              <tr>
                  <td>Hypoxia </td>
                  <td>Tension pneumothorax </td>
              </tr>

              <tr>
                  <td>Hypovolaemia </td>
                  <td>Tamponade</td>
              </tr>

              <tr>
                  <td> Hyper/hypokalaemia </td>
                  <td>Toxic/therapeutic disturbance</td>
              </tr>

              <tr>
                 <td> Hypothermia </td>
                 <td>Thromboembolic phenomena </td>
                </tr>
        </tbody>
</table>
</div>
 <div class="col-lg-4"></div>
 <div class="col-lg-4"></div>
</div>




<div class="container">
        <div class="row">
          <div class="col-lg-2"><button (click)="back()">Previous</button></div>
          <div class="col-lg-8">
            <ul>
                <ul class="nav nav-tabs" style="color:#97b714;">
                    <li><a routerLink="/home">Add Details</a></li>
                    <li><a routerLink="/resus_drug">Resus Drug</a></li>
                    <li><a routerLink="/intubation">Intibution</a></li>
                    <li><a routerLink="/infusion">Infusion</a></li>
                    <li><a routerLink="/fluid">fluid</a></li>
                    <li  class="active"><a routerLink="/arrythmias">arrythmias</a></li>
                </ul>
              <!-- <button (click)="detail()">Add Details</button>
              <button (click)="resus()">Resus_Drug</button>
              <button (click)="intibution()">Intibution</button>
              <button (click)="infusion()">Infusion</button>
              <button (click)="fluid()">Fluids</button>
              <button (click)="arrythmias()">Arrythmias</button> -->
            </ul>
          </div>
          
        </div>
      </div>
      
      <br><br><br>
      
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h3 id="footer">MediClinic</h3>
              <h6 id="footer">Expertise You Can Trust</h6>
              <div class="boxed">
                 <h5> Resuscitation Drugs. Reference:</h5> APLS Guidelines Fourth Edition, BNFc, Guys & Lewshams, Frank Shan
              </div>
            </div>
            <div class="col-lg-6">
              <h4>By:</h4>
              <h6>
                © Sachin Gohil - Senior Pharmacist PICU<br> <br>Dr Asrar Rashid - Consultant Intensivist PICU<br> <br>PICU Emergency Drugs
                Calculator Version Expires 01 July 2010
              </h6>
            </div>
          </div>
        </div>
      </div>
      