.boxed{
    padding:14px;
    border:1px solid #333;
}
h5{
    color:red;
}
#ys{
    padding:5px;
    border:1px solid #333;
    width:50%;
}
.glyphicon-arrow-down {
  color:#333;
}

#c1{
    padding-left:65px;
    padding-top:10px;
    font-size:19px;
}
#c2{
   padding-left:70px;
    padding-top:20px;
    font-size:19px;
}
#c3{
   padding-left:71px;
    padding-top:10px;
    font-size:19px;
}
.glyphicon-arrow-left{
     font-size: 17px;
     background: #000;
     color:#fff;
     padding: 11px;
     border-radius: 50%;
     cursor: pointer;
     opacity:0.31
 }
    .glyphicon-arrow-right{
     font-size: 17px;
     background: #000;
     color:#fff;
     padding: 11px;
     border-radius: 50%;
     cursor: pointer;
     opacity:0.31
 }