<!-- header navigation -->
<div id="div_1">
        <div class="container">
              <h2 id="h2_1">MediClinic</h2>
              <h6 id="h6_1">Expertise You Can Trust</h6>  
              <h5 id="time">{{e}}</h5>
              <div id="div_2">
                  <ul class="nav nav-tabs">
                      <li routerLinkActive="active"><a routerLink="/home">Add Details</a></li>
                      <li routerLinkActive="active"><a routerLink="/common/resus_drug">Resus Drug</a></li>
                      <li routerLinkActive="active"><a routerLink="/common/intubation">Intibution</a></li>
                      <li routerLinkActive="active"><a routerLink="/common/infusion">Infusion</a></li>
                      <li routerLinkActive="active"><a routerLink="/common/fluid">fluid</a></li>
                      <li routerLinkActive="active"><a routerLink="/common/arrythmias">arrythmias</a></li>
                  </ul>
              </div>
        </div>
    </div>
    <!--  -->

    <router-outlet></router-outlet>

    <!-- footer> -->
    <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 id="footer">MediClinic</h3>
                        <h6 id="footer">Expertise You Can Trust</h6>
                        <div class="boxed">
                            <h5> Resuscitation Drugs. Reference:</h5> APLS Guidelines Fourth Edition, BNFc, Guys & Lewshams, Frank Shan
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>By:</h4>
                        <h6>
                            © Sachin Gohil - Senior Pharmacist PICU<br> <br>Dr Asrar Rashid - Consultant Intensivist PICU<br> <br>PICU
                            Emergency Drugs Calculator Version Expires 01 July 2010
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    <!-- footer end -->