td{
    padding:15px;
}

#h2_1{
    font-weight: 700;
    color: white;
    text-align:left;
}
#h6_1{
    color:#fff;
    font-weight:600;
    text-align:left;
}
#div_1{
    background-color: #97b714;
    position:relative;
}
#div_2{
    position: absolute;
    bottom: 0;
    right: 80px;
}
button{
    padding:4px;
    background-color: #fff;
    border-radius:4px;
}

.footer{
    color:#fff;
    padding:50px;
    background-color: #97b714;    
}
#footer{
    color:#fff;
    font-weight:700;
    text-align: left;
}
.boxed{
    border:1px solid #333;
    padding:15px;
}
a{
    color:#fff;
}
a:hover{
    color:#333;
}