#h3_1{
   color:#000;
   font-weight: 700;
   background-color:#ea1e1e;
   padding:20px;
   line-height: 1.6;
}
#h2_1{
    text-align: center;
}
.glyphicon-warning-sign{
    color:orange;
}
#img1{
    font-size:60px;
    margin-left: 280px;
}
// .boxed{
//     border:1px solid #333;
// }