<div id="bgImg">

<div id="div_1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
        <h2 id="h2_1">MediClinic</h2>
        <h6 id="h6_1">Expertise You Can Trust</h6>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div id="time"></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="container_1">
  <div class="row" id="row_1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="boxed">
        <form [formGroup]="myForm" novalidate (ngSubmit)='save()'>

          <div class="row" id="row_2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Patient's Name">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" name="DOB" formControlName="DOB" placeholder="Enter Date of Birth" class="form-control">
              </div>
            </div>
          </div>

          <div class="row" id="row_3">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Age</label>
                    <input type="number" min="1" max="100" formControlName="age" class="form-control" name="age" placeholder="Age">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Hospital Number</label>
                    <input type="text" pattern="[0-9]*" min="0" max="130" formControlName="HN" class="form-control" name="HN" placeholder="Add Number">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Patient's Weight</label>
                <input type="number" min="1" formControlName="weight" class="form-control" name="weight" placeholder="Weight">
                <small *ngIf="!myForm.controls.weight.valid" class="text-danger">
                    Patient Weight is Required 
                 </small>
              </div>
            </div>
          </div>

          <div class="row" id="row_4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label>Ward</label>
              <input type="text" placeholder="Ward" class="form-control" name="ward">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Name of Prescriber</label>
                <input type="text" formControlName="prescriber" class="form-control" name="Prescriber" placeholder="Name of Prescriber">
              </div>
            </div>
          </div>

          <button type="submit" [disabled]="!myForm.valid">Eastimate Drugs</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>










<!-- <div class="container">
  <div class="boxed">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">

        <form [formGroup]="myForm" novalidate (ngSubmit)='save()'>

          <h2 id="h2_1"><b> Emergency Drugs Calculator - PICU</b></h2> -->
          <!-- <h3 id="h3_1">Users of this calculator should have had the required training and should have read the user manual... <span class="glyphicon glyphicon-warning-sign"></span></h3><br> -->
          <!--name validation  -->
          <!-- <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Patient's Name"> -->

            <!-- <small *ngIf="!myForm.controls.name.valid" class="text-danger" >
                Name is required minimum 5 characters required
           </small> -->
          <!-- </div> -->
          <!--DOB & AGE validation  -->
          <!-- <div class="row"> -->

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label>Date of Birth</label> -->
                <!-- <input type="date" name="DOB" formControlName="DOB" placeholder="Enter Date of Birth" class="form-control"> -->
                <!-- <small *ngIf="!myForm.controls.DOB.valid" class="text-danger" >
               Date of Birth is Required(Must Correct)
           </small> -->
              <!-- </div> -->
<!-- 
              <div class="form-group">
                <label>Age</label>
                <input type="number" min="1" max="100" formControlName="age" class="form-control" name="age" placeholder="Enter Patient's Age"> -->
                <!-- <small *ngIf="!myForm.controls.age.valid" class="text-danger" >
               Age is Required 
           </small> -->
              <!-- </div>
            </div> -->

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label>Hospital Code</label>
                <input type="text" pattern="[0-9]*" min="0" max="130" formControlName="HN" class="form-control" name="HN" placeholder="Enter Hospital Code"> -->
                <!-- <small *ngIf="!myForm.controls.HN.valid" class="text-danger" >
               Hospital Code is Required 
           </small> -->
              <!-- </div>
              <div class="form-group">
                <label>Patient's Weight</label>
                <input type="number" min="1" formControlName="weight" class="form-control" name="weight" placeholder="Enter Patient's weight">
                <small *ngIf="!myForm.controls.weight.valid" class="text-danger">
                  Patient Weight is Required 
               </small>
              </div>
            </div>
          </div> -->


          <!-- <label>Ward</label>
          <input type="text" placeholder="Ward" class="form-control" name="ward">
          <div class="form-group">
            <label>Name of Prescriber</label>
            <input type="text" formControlName="prescriber" class="form-control" name="Prescriber" placeholder="Name of Prescriber"> -->
            <!-- <small *ngIf="!myForm.controls.prescriber.valid" class="text-danger" >
                 prescriber's name is Required 
            </small> -->
          <!-- </div>
          <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
<button (click) ="next()"> Next</button> -->